html, body
	height: 100%
	margin: 0
	padding: 0


@font-face
	font-family: "FuturaStd Medium"
	src: url('./font/FuturaFont/FuturaStd-Medium.eot')
	src: local('futurastd')
	src: url('./font/FuturaFont/FuturaStd-Medium.svg#bingo') format('svg')
	src: url('./font/FuturaFont/FuturaStd-Medium.otf') format('opentype')
@font-face
	font-family: "FuturaStd Bold"
	src: url('./font/FuturaFont/FuturaStd-Bold.eot')
	src: local('futurastd')
	src: url('./font/FuturaFont/FuturaStd-Bold.svg#bingo') format('svg')
	src: url('./font/FuturaFont/FuturaStd-Bold.otf') format('opentype')
@font-face
	font-family: "FuturaStd MediumOblique"
	src: url('./font/FuturaFont/FuturaStd-MediumOblique.eot')
	src: local('futurastd')
	src: url('./font/FuturaFont/FuturaStd-MediumOblique.svg#bingo') format('svg')
	src: url('./font/FuturaFont/FuturaStd-MediumOblique.otf') format('opentype')
@font-face
	font-family: "FuturaStd Light"
	src: url('./font/FuturaFont/FuturaStd-Light.eot')
	src: local('futurastd')
	src: url('./font/FuturaFont/FuturaStd-Light.svg#bingo') format('svg')
	src: url('./font/FuturaFont/FuturaStd-Light.otf') format('opentype')


.page
	width: 100%
	min-height: 100%
	float: left
.page-first
	.first-background
		float: left
		background-image: url(../img/landing.jpg)
		background-size: cover
		background-repeat: no-repeat
		width: 100%
	.header
		float: left
		width: 100%
		height: 72px
		box-sizing: border-box
		padding: 16px 6px
		border-bottom: 1px solid #90060a
		.banner
			font-family: "FuturaStd Bold"
			float: left
			color: #90060a
			font-size: 40px
			line-height: 40px
		.menu
			float: left
			padding: 13px 6px
			font-family: "FuturaStd Medium"
			.link
				padding: 0px 12px
				font-size: 13px
				line-height: 14px
				color: #353535
				text-decoration: none
		.log-info
			float: right
			.tel-number
				font-family: "FuturaStd Medium"
				float: left
				padding: 11px 12px
				font-size: 13px
				line-height: 14px
			.login-button
				font-family: "FuturaStd Medium"
				float: right
				font-size: 13px
				padding: 11px 12px
				cursor: pointer
	.content
		float: left
		width: 100%
		height: 414px
		overflow: hidden
		position: relative
		.login-box
			position: relative
			top: -20%
			left: 120%
			height: 20%
			width: 20%
			transition: top 0.3s, left 0.3s
			background-color: rgba(255, 255, 255, 0.5)
			z-index: 2
			box-sizing: border-box
			padding: 6px
			border: 1px solid #969696
			border-top: none
			border-right: none
			.mail-to
				font-family: "FuturaStd Medium"
				color: #353535
				font-size: 16px
				text-align: center
		.wrap-content
			height: 100%
			position: absolute
			width: 970px
			top: 0
			left: 50%
			margin-left: -485px
		.image-content
			position: relative
			height: 417px
			width: 640px
			background-image: url(../img/lettres\ scrabble.png)
			background-size: contain
			background-repeat: no-repeat
		.txt-content
			position: relative
			width: 800px
			// left: 12%
			top: -106px
			float: left
			font-family: "FuturaStd Medium"
			color: #353535
			font-size: 22px
			left: 210px
		.special-logo
			font-family: "FuturaStd Bold"
			color: #90060a
	.footer
		float: left
		width: 100%
		height: 188px
		border-top: 1px solid #90060a
		border-bottom: 1px solid #90060a
		overflow: hidden
		.logos
			display: table
			// float: left
			height: 50%
			width: 20%
			margin-left: auto
			margin-right: auto
			overflow: hidden
			.contain
				vertical-align: middle
				display: table-cell
				overflow: hidden
			.logo
				cursor: pointer
				overflow: hidden
				box-sizing: border-box
				margin: auto
				width: 200px
				height: 50px
				background-size: contain
				background-repeat: no-repeat
				-webkit-filter: grayscale(100%)
				-moz-filter: grayscale(100%)
				filter: grayscale(100%)
			.logo-bnp
				background-image: url(./../img/logo_bnp.png)
			.logo-zodiac
				background-image: url(./../img/logo_zodiac.png)
			.logo-amundi
				background-image: url(./../img/logo_amundi.png)
		.wrap-quote
			position: relative
			float: left
			width: 300%
			height: 50%
			transition: left 1s
			left: 0px
		.quote
			box-sizing: border-box
			float: left
			height: 100%
			width: 33%
			padding: 0px 5%
			.quote-first
				float: left
				display: inline
				margin-top: -15px
				height: 50px
				width: 50px
				background-image: url(../img/Quote.png)
				background-size: 100%
				background-repeat: no-repeat
			.quote-txt
				float: left
				width: calc(100% -50px)
				display: inline
				width: calc(100% - 50px)
				color: #969696
				font-family: "FuturaStd MediumOblique"
				font-size: 20px
			.quote-author
				float: left
				padding-right: 72px
				text-align: right
				width: 100%
				color: #969696
				font-family: "FuturaStd Medium"
				font-size: 20px
.page-second
	box-sizing: border-box
	.wrap
		display: table
		float: left
		width: 100%
		height: 36px
		box-sizing: border-box
		padding: 24px 0px
	.main-txt
		display: table-cell
		vertical-align: middle
		width: 100%
		text-align: center
		font-family: "FuturaStd Medium"
		font-size: 30px
		color: #969696
	.color-white
		color: #bebebe
	.side
		overflow: hidden
		float: left
		width: 50%
		height: 60%
		display: table
		box-sizing: border-box
		padding: 0px 15%
		.img-second
			width: 210px
			height: 170px
			margin-left: auto
			margin-right: auto
			background-size: contain
			background-repeat: no-repeat
		.wrap-side
			float: left
			display: table-cell
			vertical-align: middle
			// height: 20%
			width: 80%
			margin-left: auto
			margin-right: auto
		.img-left
			background-image: url(../img/ico\ expertises\ spec.png)
		.img-right
			background-image: url(../img/ico\ besoins\ rec.png)
		.legend-second
			// float: left
			font-family: "FuturaStd Medium"
			font-size: 20px
			width: 90%
			height: 50%
			margin-left: auto
			margin-right: auto
			color: #969696
		.span-red
			color: #90060a
		.list-second
			box-sizing: border-box
			padding-top: 24px
			float: left
			width: 100%
			height: 40%
			font-family: "FuturaStd MediumOblique"
			margin-left: auto
			margin-right: auto
			color: #969696
		.li
			padding: 6px 0px
	.footer
		float: left
		width: 100%
		height: 257px
		box-sizing: border-box
		position : relative
		margin-bottom: 48px
		padding: 56px 0
		background-color: #91060b
		.bg
			background-image: url(../img/method.jpg)
			width: 1086px
			height: 302px
			position : absolute
			top: 0
			left: 50%
			margin-left: -543px
			z-index: -1
		font-family: "FuturaStd Bold"
		font-size: 40px
		color: #EFEFEF
		text-align: center
.page-third
	border-bottom: 1px solid #90060a
	height: 800px
	min-height: 0
	.wrap-page
		position: relative
		top: 0px
		left: 0px
	.frise
		position: absolute
		top: 0px
		left: calc(50% - 10px)
		transform: rotate(180deg)
		background-image: url(../img/frise.png)
		height: 913px
		width: 20px
		background-size: 100% 100%
		background-repeat: no-repeat
	.wrap-line
		box-sizing: border-box
		padding: 12px 15%
		float: left
		width: 100%
		height: 30%
		.span-title
			font-family: "FuturaStd Medium"
			font-size: 27px
		.span-red
			color: #90060a
		.span-blue
			color: #064e90
		.span-green
			color: #069067
		.left, .right
			position: relative
			width: 40%
			height: 100%
			font-family: "FuturaStd Light"
			font-size: 16px
			color: #7a797a
			background-size: contain
			background-repeat: no-repeat
		.left
			float: left
		.right
			float: right
		.icon
			position: absolute
			width: 75px
			height: 75px
			left: calc(50% - 38.5px)
			background-size: contain
			background-repeat: no-repeat
		.icon-one
			top: 50px
			background-image: url(../img/puce1.png)
		.icon-two
			top: 290px
			background-image: url(../img/puce2.png)
		.icon-three
			top: 530px
			background-image: url(../img/puce3.png)
		.left-one
			top: 100px
			left: 40px
		.right-two
			left: 10px
		.left-three
			left: 40px
		.right-one
			background-image: url(../img/rouge.png)
		.left-two
			left: 30px
			background-image: url(../img/bleu.png)
		.right-three
			top: -50px
			background-image: url(../img/vert.png)
.page-fourth
	height: 100%
	float: left
	padding-top: 100px
	background-image: url(../img/bottom.jpg)
	background-size: 100% auto
	background-repeat: no-repeat
	.next-puce
		margin-left: auto
		margin-right: auto
		margin-top: -40px
		height: 75px
		width: 75px
		background-image: url(../img/puce\ next.png)
		background-size: 100% auto
		background-repeat: no-repeat
	.part
		float: left
		width: 100%
	.up-part
		height: 400px
		.wrap-title
			display: table
			width: 100%
			height: 20%
		.title
			display: table-cell
			vertical-align: middle
			text-align: center
			width: 100%
			font-family: "FuturaStd Medium"
			font-size: 30px
			color: #79797f
		.color-white
			color: #969696
		.color-red
			color: #90060a
		.content
			float: left
			width: 100%
		.part
			float: left
			height: 80%
			width: 50%
		.img
			width: 260px
			height: 210px
			background-size: 100%
			background-repeat: no-repeat
			margin-left: auto
			margin-right: auto
		.txt
			width: 100%
			font-family: "FuturaStd Medium"
			font-size: 20px
			color: #79797f
			width: 30%
			text-align: center
			margin-left: auto
			margin-right: auto
		.left-img
			background-image: url(../img/gestion\ couts\ it.png)
		.right-img
			background-image: url(../img/optimisation\ vignoble.png)
	.down-part
		height: 504px
		width: 100%
		position: relative
		.table
			width: 100%
			height: 504px
			position: absolute
			z-index: -1
			left: 0
			top: 0
			border-collapse: collapse
			.left, .right
				background-color: #91060b
				left: 0
				top: 0
			.bg
				width: 1086px
				height: 504px
				z-index: -1
				background-image: url(../img/bandeau\ footer.png)
		opacity: .7
		background-size: 100% 100%
		background-repeat: no-repeat
		box-sizing: border-box
		padding-top: 36px
		.wrap-title
			display: table
			width: 100%
			height: 30%
		.title
			display: table-cell
			vertical-align: middle
			text-align: center
			width: 100%
			font-family: "FuturaStd Bold"
			font-size: 40px
			color: #efefef
		.contact
			float: left
			width: 100%
			height: 50%
			text-align: center
			width: 100%
			font-family: "FuturaStd Medium"
			font-size: 20px
			color: #efefef
		.logo
			padding-right: 100px
			padding-bottom: 50px
			float: right
			width: 100%
			font-family: "FuturaStd Bold"
			font-size: 40px
			color: #efefef
			text-align: right
			// background-color: rgba(144, 6, 10, 1.5)
		.down-copyright
			float: left
			width: 100%
			height: 60px
			text-align: right
			box-sizing: border-box
			padding: 20px 100px 0px 0px
			font-family: "FuturaStd Medium"
			font-size: 12px
