html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "FuturaStd Medium";
  src: url("./font/FuturaFont/FuturaStd-Medium.eot");
  src: local("futurastd");
  src: url("./font/FuturaFont/FuturaStd-Medium.svg#bingo") format("svg");
  src: url("./font/FuturaFont/FuturaStd-Medium.otf") format("opentype"); }
@font-face {
  font-family: "FuturaStd Bold";
  src: url("./font/FuturaFont/FuturaStd-Bold.eot");
  src: local("futurastd");
  src: url("./font/FuturaFont/FuturaStd-Bold.svg#bingo") format("svg");
  src: url("./font/FuturaFont/FuturaStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: "FuturaStd LightOblique";
  src: url("./font/FuturaFont/FuturaStd-LightOblique.eot");
  src: local("futurastd");
  src: url("./font/FuturaFont/FuturaStd-LightOblique.svg#bingo") format("svg");
  src: url("./font/FuturaFont/FuturaStd-LightOblique.otf") format("opentype"); }
@font-face {
  font-family: "FuturaStd Light";
  src: url("./font/FuturaFont/FuturaStd-Light.eot");
  src: local("futurastd");
  src: url("./font/FuturaFont/FuturaStd-Light.svg#bingo") format("svg");
  src: url("./font/FuturaFont/FuturaStd-Light.otf") format("opentype"); }
.page {
  width: 100%;
  min-height: 100%;
  float: left; }

.page-first .first-background {
  float: left;
  background-image: url(../img/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }
.page-first .header {
  float: left;
  width: 100%;
  height: 84px;
  box-sizing: border-box;
  padding: 24px 6px;
  border-bottom: 1px solid #90060a; }
  .page-first .header .banner {
    margin-left: 12px;
    font-family: "FuturaStd Bold";
    float: left;
    color: #90060a;
    font-size: 40px;
    line-height: 40px; }
  .page-first .header .menu {
    float: left;
    padding: 13px 6px;
    font-family: "FuturaStd Medium"; }
    .page-first .header .menu .link {
      padding: 0px 12px;
      font-size: 13px;
      line-height: 14px;
      color: #353535;
      text-decoration: none; }
  .page-first .header .log-info {
    float: right; }
    .page-first .header .log-info .tel-number {
      font-family: "FuturaStd Medium";
      float: left;
      padding: 11px 12px;
      font-size: 13px;
      line-height: 14px; }
    .page-first .header .log-info .login-button {
      font-family: "FuturaStd Medium";
      float: right;
      font-size: 13px;
      padding: 11px 12px;
      cursor: pointer; }
.page-first .content {
  float: left;
  width: 100%;
  height: 414px;
  overflow: hidden;
  position: relative; }
  .page-first .content .login-box {
    position: relative;
    top: -20%;
    left: 120%;
    height: 20%;
    width: 20%;
    transition: top 0.3s, left 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #969696;
    border-top: none;
    border-right: none; }
    .page-first .content .login-box .mail-to {
      font-family: "FuturaStd Medium";
      color: #353535;
      font-size: 16px;
      text-align: center; }
  .page-first .content .wrap-content {
    height: 100%;
    position: absolute;
    width: 970px;
    top: 0;
    left: 50%;
    margin-left: -485px; }
  .page-first .content .image-content {
    position: relative;
    height: 417px;
    width: 640px;
    background-image: url(../img/lettres\ scrabble.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .page-first .content .txt-content {
    position: relative;
    width: 800px;
    top: -106px;
    float: left;
    font-family: "FuturaStd Medium";
    color: #353535;
    font-size: 22px;
    left: 210px; }
  .page-first .content .special-logo {
    font-family: "FuturaStd Bold";
    color: #90060a; }
.page-first .footer {
  float: left;
  width: 100%;
  height: 156px;
  border-top: 1px solid #90060a;
  border-bottom: 1px solid #90060a;
  overflow: hidden; }
  .page-first .footer .logos {
    display: table;
    height: 50%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    .page-first .footer .logos .contain {
      vertical-align: middle;
      display: table-cell;
      overflow: hidden; }
    .page-first .footer .logos .logo {
      cursor: pointer;
      overflow: hidden;
      box-sizing: border-box;
      margin: auto;
      width: 200px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }
    .page-first .footer .logos .logo-bnp {
      background-image: url(./../img/logo_bnp.png); }
    .page-first .footer .logos .logo-zodiac {
      background-image: url(./../img/logo_zodiac.png); }
    .page-first .footer .logos .logo-amundi {
      background-image: url(./../img/logo_amundi.png); }
  .page-first .footer .wrap-quote {
    position: relative;
    float: left;
    width: 300%;
    height: 50%;
    transition: left 1s;
    left: 0px; }
  .page-first .footer .quote {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 33%;
    padding: 0px 5%; }
    .page-first .footer .quote .quote-first {
      float: left;
      display: inline;
      margin-top: -15px;
      height: 50px;
      width: 50px;
      background-image: url(../img/Quote.png);
      background-size: 100%;
      background-repeat: no-repeat; }
    .page-first .footer .quote .quote-txt {
      float: left;
      width: calc(100% -50px);
      display: inline;
      width: calc(100% - 50px);
      color: #969696;
      font-family: "FuturaStd LightOblique";
      font-size: 20px; }
    .page-first .footer .quote .quote-author {
      float: left;
      padding-right: 72px;
      text-align: right;
      width: 100%;
      color: #969696;
      font-family: "FuturaStd Light";
      font-size: 20px; }

.page-second {
  box-sizing: border-box; }
  .page-second .wrap {
    display: table;
    float: left;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 24px 0px;
    padding-top: 72px; }
  .page-second .main-txt {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-family: "FuturaStd Medium";
    font-size: 30px;
    color: #969696; }
  .page-second .color-white {
    color: #bebebe; }
  .page-second .left-side {
    padding-left: 17%;
    padding-right: 13%; }
  .page-second .right-side {
    padding-left: 13%;
    padding-right: 17%; }
  .page-second .side {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 60%;
    display: table;
    box-sizing: border-box; }
    .page-second .side .img-second {
      width: 210px;
      height: 170px;
      margin-left: auto;
      margin-right: auto;
      background-size: contain;
      background-repeat: no-repeat; }
    .page-second .side .wrap-side {
      float: left;
      display: table-cell;
      vertical-align: middle;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
    .page-second .side .img-left {
      background-image: url(../img/ico\ expertises\ spec.png); }
    .page-second .side .img-right {
      background-image: url(../img/ico\ besoins\ rec.png); }
    .page-second .side .legend-second {
      font-family: "FuturaStd Medium";
      font-size: 20px;
      width: 280px;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
      color: #969696;
      text-align: center; }
    .page-second .side .span-red {
      color: #90060a; }
    .page-second .side .list-second {
      box-sizing: border-box;
      padding-top: 24px;
      float: left;
      width: 100%;
      height: 40%;
      font-family: "FuturaStd MediumOblique";
      margin-left: auto;
      margin-right: auto;
      color: #969696; }
    .page-second .side .li {
      padding: 6px 0px; }
  .page-second .footer {
    float: left;
    width: 100%;
    height: 257px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 48px;
    padding: 56px 0;
    background-color: #91060b;
    font-family: "FuturaStd Bold";
    font-size: 40px;
    color: #EFEFEF;
    text-align: center; }
    .page-second .footer .bg {
      background-image: url(../img/method.jpg);
      width: 1086px;
      height: 302px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -543px;
      z-index: -1; }

.page-third {
  border-bottom: 1px solid #90060a;
  height: 800px;
  min-height: 0; }
  .page-third .wrap-page {
    position: relative;
    top: 0px;
    left: 0px; }
  .page-third .frise {
    position: absolute;
    top: 0px;
    left: calc(50% - 10px);
    transform: rotate(180deg);
    background-image: url(../img/frise.png);
    height: 913px;
    width: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .page-third .wrap-line {
    box-sizing: border-box;
    padding: 12px 15%;
    float: left;
    width: 100%;
    height: 30%; }
    .page-third .wrap-line .span-title {
      font-family: "FuturaStd Medium";
      font-size: 27px; }
    .page-third .wrap-line .span-red {
      color: #90060a; }
    .page-third .wrap-line .span-blue {
      color: #064e90; }
    .page-third .wrap-line .span-green {
      color: #069067; }
    .page-third .wrap-line .left, .page-third .wrap-line .right {
      position: relative;
      width: 40%;
      height: 100%;
      font-family: "FuturaStd Light";
      font-size: 16px;
      color: #7a797a;
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 60px; }
    .page-third .wrap-line .left {
      float: left; }
    .page-third .wrap-line .right {
      float: right; }
    .page-third .wrap-line .icon {
      position: absolute;
      width: 75px;
      height: 75px;
      left: calc(50% - 38.5px);
      background-size: contain;
      background-repeat: no-repeat; }
    .page-third .wrap-line .icon-one {
      top: 50px;
      background-image: url(../img/puce1.png); }
    .page-third .wrap-line .icon-two {
      top: 290px;
      background-image: url(../img/puce2.png); }
    .page-third .wrap-line .icon-three {
      top: 530px;
      background-image: url(../img/puce3.png); }
    .page-third .wrap-line .left-one {
      width: 30%; }
    .page-third .wrap-line .right-two {
      width: 30%; }
    .page-third .wrap-line .left-three {
      width: 30%; }
    .page-third .wrap-line .right-one {
      margin-top: 20px;
      width: 300px;
      background-image: url(../img/rouge.png); }
    .page-third .wrap-line .left-two {
      margin-top: 20px;
      width: 300px;
      background-image: url(../img/bleu.png); }
    .page-third .wrap-line .right-three {
      top: -50px;
      width: 300px;
      background-image: url(../img/vert.png); }

.page-fourth {
  height: 1000px;
  float: left;
  padding-top: 100px;
  background-image: url(../img/bottom.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: initial; }
  .page-fourth .next-puce {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    height: 75px;
    width: 75px;
    background-image: url(../img/puce\ next.png);
    background-size: 100% auto;
    background-repeat: no-repeat; }
  .page-fourth .part {
    float: left;
    width: 100%; }
  .page-fourth .up-part {
    height: 400px; }
    .page-fourth .up-part .wrap-title {
      display: table;
      width: 100%;
      height: 20%; }
    .page-fourth .up-part .title {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      font-family: "FuturaStd Medium";
      font-size: 30px;
      color: #79797f; }
    .page-fourth .up-part .color-white {
      color: #969696; }
    .page-fourth .up-part .color-red {
      color: #90060a; }
    .page-fourth .up-part .content {
      float: left;
      width: 100%; }
    .page-fourth .up-part .part {
      float: left;
      height: 80%;
      width: 50%; }
    .page-fourth .up-part .img {
      width: 260px;
      height: 210px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto; }
    .page-fourth .up-part .txt {
      width: 260px;
      font-family: "FuturaStd Medium";
      font-size: 20px;
      color: #79797f;
      width: 30%;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
    .page-fourth .up-part .left-img {
      background-image: url(../img/gestion\ couts\ it.png); }
    .page-fourth .up-part .right-img {
      background-image: url(../img/optimisation\ vignoble.png); }
  .page-fourth .down-part {
    height: 504px;
    margin-top: 150px;
    width: 100%;
    position: relative;
    opacity: 0.8;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box; }
    .page-fourth .down-part .table {
      width: 100%;
      height: 504px;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      border-collapse: collapse; }
      .page-fourth .down-part .table .left, .page-fourth .down-part .table .right {
        background-color: #91060b;
        left: 0;
        top: 0; }
      .page-fourth .down-part .table .bg {
        width: 1086px;
        height: 504px;
        z-index: -1;
        -webkit-mask-image: url(../img/bandeau\ footer.png);
        background-image: url(../img/bandeau\ footer.png); }
    .page-fourth .down-part .wrap-title {
      display: table;
      width: 100%;
      height: 30%;
      background-color: rgba(255, 255, 255, 0.1); }
    .page-fourth .down-part .title {
      padding: 36px 0px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      font-family: "FuturaStd Bold";
      font-size: 40px;
      color: #efefef; }
    .page-fourth .down-part .contact {
      float: left;
      width: 100%;
      height: 264px;
      text-align: center;
      width: 100%;
      font-family: "FuturaStd Medium";
      font-size: 30px;
      color: #efefef;
      background-color: rgba(255, 255, 255, 0.1); }
    .page-fourth .down-part .logo {
      padding: 15px 0px;
      padding-right: 100px;
      float: right;
      width: 100%;
      font-family: "FuturaStd Bold";
      font-size: 40px;
      color: #efefef;
      text-align: right; }
    .page-fourth .down-part .down-copyright {
      float: left;
      width: 100%;
      height: 60px;
      text-align: right;
      box-sizing: border-box;
      padding: 20px 100px 0px 0px;
      font-family: "FuturaStd Medium";
      font-size: 12px; }
